.chartCircle{
  display: block;
  width: auto;
  circle{
    stroke-width: 10%;
    fill: none;
    cx: 50%;
    cy: 50%;
    r: 40%;
    transform-origin: center center;
    &:hover{
      stroke-width: 13%;
      transition: 0.5s;
      ~ text{
        transition: 0.5s;
        opacity: 1;
      }
      ~ text:nth-last-child(3n){
        transition: 0.5s;
        opacity: 0;
      }
    }
  }
  text{
    pointer-events: none;
    stroke-width: 0;
    font-family: helvetica, serif;
    opacity: 0;
    transition: 0.3s ease;
    transition-property: opacity;
  }
  & :nth-last-child(3){
    opacity: 1;
    text-transform: uppercase;
    font-size: 70%;
  }
  & :nth-last-child(2){
    font-size: 70%;
    font-weight:bold;
  }
  & :last-child{
    font-size: 50%;
  }
}