body{
  overflow-x: hidden;
}

.chartSelector {
  z-index: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 300px;
  height: 1rem;
  border-radius: 5px;
  border: 1px solid #aaaebc;
  box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.15);
   span{
     &:first-child{
      z-index: 2;
      display: block;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      border-radius: 5px;
      border: 1px solid #aaaebc;
      width: 1.5rem;
      height: 1.5rem;
      background-color: #ffcd99;
    }
    &:nth-child(2) {
      position: absolute;
      background-color: #ffcd99;
      border-radius: 5px;
      width: 0;
      height: 100%;
      left: 0;
      transform: translate(-100%, 0);
    }
  }
}

